
    .warna {
        background-color: rgb(158, 1, 1);
    }

    .text-blue {
        color: rgb(9, 219, 247);
    }

    .box1 {
        position: absolute;
        top: 180px;
        background-color: rgba(0, 0, 0, 0.438);
        color: white;
        padding: 7px;
        width: 80%;
        font-size: 25px;
        padding-bottom: 20px;
    }

    .box2 {
        position: absolute;
        top: 220px;
        background-color: rgb(163, 3, 3);
        color: white;
        padding: 7px;
        width: 40%;
        font-size: 15px;

    }

    .box3 {
        position: absolute;
        top: 0;
        background-color: rgb(221, 221, 2);
        color: black;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 5px;
        right: 0;
    }
